@model _5051.Models.SchoolDismissalSettingsModel
@{
    ViewBag.Title = "Read";

    var DayFirst = Model.DayFirst.ToShortDateString(); //string.Format("{0:D1}:{1:D2}", Model.DayFirst.Month, Model.DayFirst.Day, Model.);
    var DayLast = Model.DayLast.ToShortDateString(); //string.Format("{0:D1}:{1:D2}", Model.DayLast.Month, Model.DayLast.Day);
}

<br />
<div class="row justify-content-center">

    <div class="col-1 "></div>
    <div class="col lightTransparentBox">
        <br />
        <div class="FontSizeLarge text-center">
            <span class="FontSizeLarger FontBold FontColorWhite">Admin Settings</span>
        </div>
        <br />
    </div>
    <div class="col-1"></div>
</div>

<div class="row">
    <br />
    <br />
</div>

<div class="text-center FontColorWhite FontSizeSmall">
    @{
        if (Model == null)
        {
            <div class="row justify-content-center">

                <div class="col-1 "></div>
                <div class="col lightTransparentBox">
                    <br />
                    <div class="FontSizeLarge text-center FontColorWhite">
                        No Data
                    </div>
                    <br />
                </div>
                <div class="col-1"></div>
            </div>
        }
        else
        {
            <div>

                <br />

                <div class="row justify-content-center">
                    <div class="col-sm-5">
                        <div class="lightTransparentBox m-1 p-2">
                            <div class="FontSizeMedium text-center FontColorWhite">
                                Dismissal Time Settings
                            </div>
                            <div class="row justify-content-center mt-2">
                                <div class="col text-right">
                                    @Html.DisplayNameFor(m => m.StartNormal)
                                </div>
                                <div class="col text-left">
                                    @string.Format("{0:D1}:{1:D2}", Model.StartNormal.Hours, Model.StartNormal.Minutes)
                                </div>
                            </div>
                            <div class="row justify-content-center">
                                <div class="col text-right">
                                    @Html.DisplayNameFor(m => m.StartEarly)
                                </div>
                                <div class="col text-left">
                                    @string.Format("{0:D1}:{1:D2}", Model.StartEarly.Hours, Model.StartEarly.Minutes)
                                </div>
                            </div>
                            <div class="row justify-content-center">
                                <div class="col text-right">
                                    @Html.DisplayNameFor(m => m.StartLate)
                                </div>
                                <div class="col text-left">
                                    @string.Format("{0:D1}:{1:D2}", Model.StartLate.Hours, Model.StartLate.Minutes)
                                </div>
                            </div>
                            <div class="row justify-content-center mt-2">
                                <div class="col text-right">
                                    @Html.DisplayNameFor(m => m.EndNormal)
                                </div>
                                <div class="col text-left">
                                    @string.Format("{0:D1}:{1:D2}", Model.EndNormal.Hours, Model.EndNormal.Minutes)
                                </div>
                            </div>
                            <div class="row justify-content-center">
                                <div class="col text-right">
                                    @Html.DisplayNameFor(m => m.EndEarly)
                                </div>
                                <div class="col text-left">
                                    @string.Format("{0:D1}:{1:D2}", Model.EndEarly.Hours, Model.EndEarly.Minutes)
                                </div>
                            </div>
                            <div class="row justify-content-center">
                                <div class="col text-right">
                                    @Html.DisplayNameFor(m => m.EndLate)
                                </div>
                                <div class="col text-left">
                                    @string.Format("{0:D1}:{1:D2}", Model.EndLate.Hours, Model.EndLate.Minutes)
                                </div>
                            </div>
                        </div>
                        <div class="lightTransparentBox m-1 p-2">
                            <div class="FontSizeMedium text-center FontColorWhite">
                                Day of Week Dismissal Settings
                            </div>
                            <table class="table table-borderless table-condensed w-75 m-auto">
                                <thead>
                                    <tr>
                                        <td>Day of Week</td>
                                        <td>Start</td>
                                        <td>End</td>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td>Mon</td>
                                        <td>@Model.DayStartDropDown[@Model.MonStartSelected].Text</td>
                                        <td>@Model.DayEndDropDown[@Model.MonEndSelected].Text</td>
                                    </tr>
                                    <tr>
                                        <td>Tue</td>
                                        <td>@Model.DayStartDropDown[@Model.TueStartSelected].Text</td>
                                        <td>@Model.DayEndDropDown[@Model.TueEndSelected].Text</td>
                                    </tr>
                                    <tr>
                                        <td>Wed</td>
                                        <td>@Model.DayStartDropDown[@Model.WedStartSelected].Text</td>
                                        <td>@Model.DayEndDropDown[@Model.WedEndSelected].Text</td>
                                    </tr>
                                    <tr>
                                        <td>Thu</td>
                                        <td>@Model.DayStartDropDown[@Model.ThuStartSelected].Text</td>
                                        <td>@Model.DayEndDropDown[@Model.ThuEndSelected].Text</td>
                                    </tr>
                                    <tr>
                                        <td>Fri</td>
                                        <td>@Model.DayStartDropDown[@Model.FriStartSelected].Text</td>
                                        <td>@Model.DayEndDropDown[@Model.FriEndSelected].Text</td>
                                    </tr>
                                    <tr>
                                        <td>Sat</td>
                                        <td>@Model.DayStartDropDown[@Model.SatStartSelected].Text</td>
                                        <td>@Model.DayEndDropDown[@Model.SatEndSelected].Text</td>
                                    </tr>
                                    <tr>
                                        <td>Sun</td>
                                        <td>@Model.DayStartDropDown[@Model.SunStartSelected].Text</td>
                                        <td>@Model.DayEndDropDown[@Model.SunEndSelected].Text</td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>

                    <div class="col-sm-5">
                        <div class="lightTransparentBox m-1 p-2">
                            <div class="FontSizeMedium text-center FontColorWhite">
                                School Year Settings
                            </div>
                            <div class="row justify-content-center mt-2">
                                <div class="col text-right">
                                    School Year Start Date
                                </div>
                                <div class="col text-left">
                                    @DayFirst
                                </div>
                            </div>
                            <div class="row justify-content-center">
                                <div class="col text-right">
                                    School Year End Date
                                </div>
                                <div class="col text-left">
                                    @DayLast
                                </div>
                            </div>
                            <div class="row justify-content-center mt-2">
                                <div class="col text-right">
                                    @Html.DisplayNameFor(m => m.S1Start)
                                </div>
                                <div class="col text-left">
                                    @Model.S1Start.ToShortDateString()
                                </div>
                            </div>
                            <div class="row justify-content-center">
                                <div class="col text-right">
                                    @Html.DisplayNameFor(m => m.S2Start)
                                </div>
                                <div class="col text-left">
                                    @Model.S2Start.ToShortDateString()
                                </div>
                            </div>
                            <div class="row justify-content-center mt-2">
                                <div class="col text-right">
                                    @Html.DisplayNameFor(m => m.Q1Start)
                                </div>
                                <div class="col text-left">
                                    @Model.Q1Start.ToShortDateString()
                                </div>
                            </div>
                            <div class="row justify-content-center">
                                <div class="col text-right">
                                    @Html.DisplayNameFor(m => m.Q2Start)
                                </div>
                                <div class="col text-left">
                                    @Model.Q2Start.ToShortDateString()
                                </div>
                            </div>
                            <div class="row justify-content-center">
                                <div class="col text-right">
                                    @Html.DisplayNameFor(m => m.Q3Start)
                                </div>
                                <div class="col text-left">
                                    @Model.Q3Start.ToShortDateString()
                                </div>
                            </div>
                            <div class="row justify-content-center">
                                <div class="col text-right">
                                    @Html.DisplayNameFor(m => m.Q4Start)
                                </div>
                                <div class="col text-left">
                                    @Model.Q4Start.ToShortDateString()
                                </div>
                            </div>
                     
                        </div>
                    
                        <div class="lightTransparentBox m-1 p-2">
                            <div class="FontSizeMedium text-center FontColorWhite">
                                Report Settings
                            </div>
                            <div class="row justify-content-center mt-2">
                                <div class="col text-right">
                                    @Html.DisplayNameFor(m => m.Goal)
                                </div>
                                <div class="col text-left">
                                    @Model.Goal
                                </div>
                            </div>
                            <div class="row justify-content-center mt-2">
                                <div class="col text-right">
                                    @Html.DisplayNameFor(m => m.EarlyWindow)
                                </div>
                                <div class="col text-left">
                                    @Model.EarlyWindow
                                </div>
                            </div>
                            <div class="row justify-content-center">
                                <div class="col text-right">
                                    @Html.DisplayNameFor(m => m.LateWindow)
                                </div>
                                <div class="col text-left">
                                    @Model.LateWindow
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <br />
            <div class="row justify-content-around DispalyBoxWithMargin">
                <div class="col text-center DispalyBoxWithMargin">
                    @Html.ActionLink("Back", "Index", new { id = Model.Id, Controller = "Calendar" }, new { @class = "btn btn1 btn-light DispalyBoxWithMargin" })
                </div>
                <div class="col text-center DispalyBoxWithMargin">
                    @Html.ActionLink("Update", "Update", new { id = Model.Id }, new { @class = "btn btn1 btn-light DispalyBoxWithMargin" })
                </div>
                <br />
            </div>

        }
    }

</div>

<br />

