@model _5051.Models.SchoolDismissalSettingsModel
@{
    ViewBag.Title = "Update";

    var DayFirst = Model.DayFirst.ToShortDateString(); //string.Format("{0:D1}:{1:D2}", Model.DayFirst.Month, Model.DayFirst.Day, Model.);
    var DayLast = Model.DayLast.ToShortDateString(); //string.Format("{0:D1}:{1:D2}", Model.DayLast.Month, Model.DayLast.Day);
}

<br />
<div class="row justify-content-center">

    <div class="col-1 "></div>
    <div class="col lightTransparentBox">
        <br />
        <div class="FontSizeLarge text-center">
            <span class="FontSizeLarger FontBold FontColorWhite">Admin Settings</span>
        </div>
        <br />
    </div>
    <div class="col-1"></div>
</div>

<div class="row">
    <br />
    <br />
</div>

<div class="text-center FontColorWhite FontSizeSmall">
    @{
        if (Model == null)
        {
            <div class="row justify-content-center">
                <div class="col-1"></div>
                <div class="col lightTransparentBox">
                    <br />
                    <div class="FontSizeLarge text-center FontColorWhite">
                        No Data
                    </div>
                    <br />
                </div>
                <div class="col-1"></div>
            </div>
        }
        else
        {
            <div>
                <br />
                @using (Html.BeginForm())
                {
                    @Html.AntiForgeryToken()
                    @Html.HiddenFor(m => m.Id)
                    <div class="row justify-content-center">
                        <div class="col-sm-5">
                            <div class="lightTransparentBox m-1 p-2">
                                <div class="FontSizeMedium text-center FontColorWhite">
                                    Dismissal Time Settings
                                </div>
                                <div class="row justify-content-center mt-2">
                                    <div class="col text-right">
                                        @Html.DisplayNameFor(m => m.StartNormal)
                                    </div>
                                    <div class="col text-left">
                                        @Html.EditorFor(m => m.StartNormal, new { htmlAttributes = new { @Value = string.Format("{0:D1}:{1:D2}", Model.StartNormal.Hours, Model.StartNormal.Minutes) } })
                                        @Html.ValidationMessageFor(m => m.StartNormal)
                                    </div>
                                </div>
                                <div class="row justify-content-center">
                                    <div class="col text-right">
                                        @Html.DisplayNameFor(m => m.StartEarly)
                                    </div>
                                    <div class="col text-left">
                                        @Html.EditorFor(m => m.StartEarly, new { htmlAttributes = new { @Value = string.Format("{0:D1}:{1:D2}", Model.StartEarly.Hours, Model.StartEarly.Minutes) } })
                                        @Html.ValidationMessageFor(m => m.StartEarly)
                                    </div>
                                </div>
                                <div class="row justify-content-center">
                                    <div class="col text-right">
                                        @Html.DisplayNameFor(m => m.StartLate)
                                    </div>
                                    <div class="col text-left">
                                        @Html.EditorFor(m => m.StartLate, new { htmlAttributes = new { @Value = string.Format("{0:D1}:{1:D2}", Model.StartLate.Hours, Model.StartLate.Minutes) } })
                                        @Html.ValidationMessageFor(m => m.StartLate)
                                    </div>
                                </div>
                                <div class="row justify-content-center mt-2">
                                    <div class="col text-right">
                                        @Html.DisplayNameFor(m => m.EndNormal)
                                    </div>
                                    <div class="col text-left">
                                        @Html.EditorFor(m => m.EndNormal, new { htmlAttributes = new { @Value = string.Format("{0:D1}:{1:D2}", Model.EndNormal.Hours, Model.EndNormal.Minutes) } })
                                        @Html.ValidationMessageFor(m => m.EndNormal)
                                    </div>
                                </div>
                                <div class="row justify-content-center">
                                    <div class="col text-right">
                                        @Html.DisplayNameFor(m => m.EndEarly)
                                    </div>
                                    <div class="col text-left">
                                        @Html.EditorFor(m => m.EndEarly, new { htmlAttributes = new { @Value = string.Format("{0:D1}:{1:D2}", Model.EndEarly.Hours, Model.EndEarly.Minutes) } })
                                        @Html.ValidationMessageFor(m => m.EndEarly)
                                    </div>
                                </div>
                                <div class="row justify-content-center">
                                    <div class="col text-right">
                                        @Html.DisplayNameFor(m => m.EndLate)
                                    </div>
                                    <div class="col text-left">
                                        @Html.EditorFor(m => m.EndLate, new { htmlAttributes = new { @Value = string.Format("{0:D1}:{1:D2}", Model.EndLate.Hours, Model.EndLate.Minutes) } })
                                        @Html.ValidationMessageFor(m => m.EndLate)
                                    </div>
                                </div>
                            </div>
                            <div class="lightTransparentBox m-1 p-2">
                                <div class="FontSizeMedium text-center FontColorWhite">
                                    Day of Week Dismissal Settings
                                </div>
                                <table class="table table-borderless table-condensed w-75 m-auto">
                                    <thead>
                                        <tr>
                                            <td>Day of Week</td>
                                            <td>Start</td>
                                            <td>End</td>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr>
                                            <td>Mon</td>
                                            <td>@Html.DropDownListFor(m => m.MonStartSelected, Model.DayStartDropDown)</td>
                                            <td>@Html.DropDownListFor(m => m.MonEndSelected, Model.DayEndDropDown)</td>
                                        </tr>
                                        <tr>
                                            <td>Tue</td>
                                            <td>@Html.DropDownListFor(m => m.TueStartSelected, Model.DayStartDropDown)</td>
                                            <td>@Html.DropDownListFor(m => m.TueEndSelected, Model.DayEndDropDown)</td>
                                        </tr>
                                        <tr>
                                            <td>Wed</td>
                                            <td>@Html.DropDownListFor(m => m.WedStartSelected, Model.DayStartDropDown)</td>
                                            <td>@Html.DropDownListFor(m => m.WedEndSelected, Model.DayEndDropDown)</td>
                                        </tr>
                                        <tr>
                                            <td>Thu</td>
                                            <td>@Html.DropDownListFor(m => m.ThuStartSelected, Model.DayStartDropDown)</td>
                                            <td>@Html.DropDownListFor(m => m.ThuEndSelected, Model.DayEndDropDown)</td>
                                        </tr>
                                        <tr>
                                            <td>Fri</td>
                                            <td>@Html.DropDownListFor(m => m.FriStartSelected, Model.DayStartDropDown)</td>
                                            <td>@Html.DropDownListFor(m => m.FriEndSelected, Model.DayEndDropDown)</td>
                                        </tr>
                                        <tr>
                                            <td>Sat</td>
                                            <td>@Html.DropDownListFor(m => m.SatStartSelected, Model.DayStartDropDown)</td>
                                            <td>@Html.DropDownListFor(m => m.SatEndSelected, Model.DayEndDropDown)</td>
                                        </tr>
                                        <tr>
                                            <td>Sun</td>
                                            <td>@Html.DropDownListFor(m => m.SunStartSelected, Model.DayStartDropDown)</td>
                                            <td>@Html.DropDownListFor(m => m.SunEndSelected, Model.DayEndDropDown)</td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>

                        </div>
                        <div class="col-sm-5">
                            <div class="lightTransparentBox m-1 p-2">
                                <div class="FontSizeMedium text-center FontColorWhite">
                                    School Year Settings
                                </div>
                                <div class="row justify-content-center mt-2">
                                    <div class="col text-right">
                                        School Year Start Date
                                    </div>
                                    <div class="col text-left">
                                        @Html.EditorFor(m => m.DayFirst, new { htmlAttributes = new { @Value = DayFirst } })
                                        @Html.ValidationMessageFor(m => m.DayFirst)
                                    </div>
                                </div>
                                <div class="row justify-content-center">
                                    <div class="col text-right">
                                        School Year End Date
                                    </div>
                                    <div class="col text-left">
                                        @Html.EditorFor(m => m.DayLast, new { htmlAttributes = new { @Value = DayLast } })
                                        @Html.ValidationMessageFor(m => m.DayLast)
                                    </div>
                                </div>
                                <div class="row justify-content-center mt-2">
                                    <div class="col text-right">
                                        @Html.DisplayNameFor(m => m.S1Start)
                                    </div>
                                    <div class="col text-left">
                                        @Html.EditorFor(m => m.S1Start, new { htmlAttributes = new { @Value = @Model.S1Start.ToShortDateString() } })
                                        @Html.ValidationMessageFor(m => m.S1Start)
                                    </div>
                                </div>
                                <div class="row justify-content-center">
                                    <div class="col text-right">
                                        @Html.DisplayNameFor(m => m.S2Start)
                                    </div>
                                    <div class="col text-left">
                                        @Html.EditorFor(m => m.S2Start, new { htmlAttributes = new { @Value = @Model.S2Start.ToShortDateString() } })
                                        @Html.ValidationMessageFor(m => m.S2Start)
                                    </div>
                                </div>
                                <div class="row justify-content-center mt-2">
                                    <div class="col text-right">
                                        @Html.DisplayNameFor(m => m.Q1Start)
                                    </div>
                                    <div class="col text-left">
                                        @Html.EditorFor(m => m.Q1Start, new { htmlAttributes = new { @Value = @Model.Q1Start.ToShortDateString() } })
                                        @Html.ValidationMessageFor(m => m.Q1Start)
                                    </div>
                                </div>
                                <div class="row justify-content-center">
                                    <div class="col text-right">
                                        @Html.DisplayNameFor(m => m.Q2Start)
                                    </div>
                                    <div class="col text-left">
                                        @Html.EditorFor(m => m.Q2Start, new { htmlAttributes = new { @Value = @Model.Q2Start.ToShortDateString() } })
                                        @Html.ValidationMessageFor(m => m.Q2Start)
                                    </div>
                                </div>
                                <div class="row justify-content-center">
                                    <div class="col text-right">
                                        @Html.DisplayNameFor(m => m.Q3Start)
                                    </div>
                                    <div class="col text-left">
                                        @Html.EditorFor(m => m.Q3Start, new { htmlAttributes = new { @Value = @Model.Q3Start.ToShortDateString() } })
                                        @Html.ValidationMessageFor(m => m.Q3Start)
                                    </div>
                                </div>
                                <div class="row justify-content-center">
                                    <div class="col text-right">
                                        @Html.DisplayNameFor(m => m.Q4Start)
                                    </div>
                                    <div class="col text-left">
                                        @Html.EditorFor(m => m.Q4Start, new { htmlAttributes = new { @Value = @Model.Q4Start.ToShortDateString() } })
                                        @Html.ValidationMessageFor(m => m.Q4Start)
                                    </div>
                                </div>
                            </div>
                   
                            <div class="lightTransparentBox m-1 p-2">
                                <div class="FontSizeMedium text-center FontColorWhite">
                                    Report Settings
                                </div>
                                <div class="row justify-content-center mt-2">
                                    <div class="col text-right">
                                        @Html.DisplayNameFor(m => m.Goal)
                                    </div>
                                    <div class="col text-left">
                                        @Html.EditorFor(m => m.Goal, new { htmlAttributes = new { @Value = @Model.Goal } })
                                        @Html.ValidationMessageFor(m => m.Goal)
                                    </div>
                                </div>
                                <div class="row justify-content-center mt-2">
                                    <div class="col text-right">
                                        @Html.DisplayNameFor(m => m.EarlyWindow)
                                    </div>
                                    <div class="col text-left">
                                        @Html.EditorFor(m => m.EarlyWindow, new { htmlAttributes = new { @Value = @Model.EarlyWindow } })
                                        @Html.ValidationMessageFor(m => m.EarlyWindow)
                                    </div>
                                </div>
                                <div class="row justify-content-center">
                                    <div class="col text-right">
                                        @Html.DisplayNameFor(m => m.LateWindow)
                                    </div>
                                    <div class="col text-left">
                                        @Html.EditorFor(m => m.LateWindow, new { htmlAttributes = new { @Value = @Model.LateWindow } })
                                        @Html.ValidationMessageFor(m => m.LateWindow)
                                    </div>
                                </div>
                            </div>

                        </div>
                    </div>

                    <br />
                    <div class="row justify-content-center">
                        <div class="col-auto text-center DispalyBoxWithMargin">
                            @Html.ActionLink("Back", "Read", new { id = Model.Id }, new { @class = "btn btn1 btn-light DispalyBoxWithMargin" })
                        </div>
                        
                        <div class="col-1"></div>

                        <div class="col-auto text-center DispalyBoxWithMargin">
                            <input type="submit" value="Update" class="btn btn1 btn-light DispalyBoxWithMargin">
                        </div>
                        <br />
                    </div>
                }
            </div>
        }
    }
</div>
<br />
