@model _5051.Models.StudentDisplayViewModel

@{
    ViewBag.Title = "My Settings";
}
<br />
<div class="row justify-content-center">

    <div class="col-1 "></div>
    <div class="col lightTransparentBox">
        <br />
        <div class="FontSizeLarge text-center">
            <span class="FontSizeLarger FontBold">
                You Can Update Your Settings
            </span>
        </div>
        <br />
    </div>
    <div class="col-1"></div>
</div>

<div class="row">
    <br />
    <br />
</div>

@{
    if (Model == null)
    {
        <div class="row justify-content-center">

            <div class="col-1 "></div>
            <div class="col lightTransparentBox">
                <br />
                <div class="FontSizeLarge text-center">
                    No Student
                </div>
                <br />
            </div>
            <div class="col-1"></div>
        </div>
    }

    else
    {
        <div class="row justify-content-center">

            <div class="col-1 "></div>
            <div class="col lightTransparentBox">
                <br />
                <div class="FontSizeMedium text-center">


                    <div class="row justify-content-center">
                        <div class="AvatarBoxNormal align-self-sm-center" id="AvatarBox">
                            <div class="AvatarCircle"></div>
                            <img class="AvatarItemBase AvatarHairBack" id="AvatarHairBack" src="@Model.AvatarComposite.AvatarHairBackUri" />
                            <img class="AvatarItemBase AvatarHead" id="AvatarHead" src="@Model.AvatarComposite.AvatarHeadUri" />
                            <img class="AvatarItemBase AvatarShirt" id="AvatarShirt" src="@Model.AvatarComposite.AvatarShirtShortUri" />
                            <img class="AvatarItemBase AvatarExpression" id="AvatarExpression" src="@Model.AvatarComposite.AvatarExpressionUri" />
                            <img class="AvatarItemBase AvatarCheeks" id="AvatarCheeks" src="@Model.AvatarComposite.AvatarCheeksUri" />
                            <img class="AvatarItemBase AvatarHairFront" id="AvatarHairFront" src="@Model.AvatarComposite.AvatarHairFrontUri" />
                            <img class="AvatarItemBase AvatarAccessory" id="AvatarAccessory" src="@Model.AvatarComposite.AvatarAccessoryUri" />
                        </div>
                    </div>
                    <span id="currentNameDisplayed" class="FontSizeLarge">
                        @Model.Name
                    </span>

                    <br />
                    <br />

                    <div class="row">
                        <div class="col-6 text-right" id="avatarLevelName">
                            @Html.DisplayNameFor(m => m.AvatarLevel)
                        </div>
                        <div class="col-1">
                            &nbsp;:&nbsp;
                        </div>
                        <div class="col text-left" id="avatarLevelValue">
                            @Html.DisplayFor(m => m.AvatarLevel)
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-6 text-right" id="tokensName">
                            @Html.DisplayNameFor(m => m.Tokens)
                        </div>
                        <div class="col-1">
                            &nbsp;:&nbsp;
                        </div>
                        <div class="col text-left" id="tokensValue">
                            @Html.DisplayFor(m => m.Tokens)
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-6 text-right" id="xpName">
                            @Html.DisplayNameFor(m => m.ExperiencePoints)
                        </div>
                        <div class="col-1">
                            &nbsp;:&nbsp;
                        </div>
                        <div class="col text-left" id="xpValue">
                            @Html.DisplayFor(m => m.ExperiencePoints)
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-6 text-right" id="currentStatusName">
                            @Html.DisplayNameFor(m => m.Status)
                        </div>
                        <div class="col-1">
                            &nbsp;:&nbsp;
                        </div>
                        <div class="col text-left" id="currentStatusValue">
                            @Html.DisplayFor(x => x.Status)
                        </div>
                    </div>

                    <br />

                    <hr />

                    @using (Html.BeginForm())
                    {
                        @Html.AntiForgeryToken()

                        @Html.HiddenFor(m => m.Id)
                        @Html.HiddenFor(m => m.AvatarLevel)
                        @Html.HiddenFor(m => m.Tokens)
                        @Html.HiddenFor(m => m.Status)
                        @Html.HiddenFor(m => m.ExperiencePoints)
                        @Html.HiddenFor(m => m.Password)

                        <div class="row justify-content-center">
                            <div class="col-sm">
                                <div class="FontSizeLarge">
                                    <div id="nameName">
                                        @Html.DisplayNameFor(m => m.Name)
                                    </div>
                                </div>
                                <div class="">
                                    <div id="nameValue">
                                        @Html.EditorFor(m => m.Name)
                                        @Html.ValidationMessageFor(m => m.Name)
                                    </div>
                                </div>
                            </div>
                        </div>
                        <br />
                        <div class="row justify-content-center">
                            <div class="col-sm">
                                <input type="submit" value="Update" class="btn btn1 btn-light" id="updateSubmitButton">
                            </div>
                        </div>
                        <div class="row justify-content-center">
                            <div class="col-sm">
                                    @Html.ActionLink("Change Password", "ChangePassword", "Portal", routeValues: new { id = Model.Id }, htmlAttributes: new { @class = "btn btn1 btn-light DispalyBoxWithMargin" })
                            </div>
                        </div>
                        <div class="row justify-content-center">
                            <div class="col-sm">
                                @Html.ActionLink("Cancel", "Index", "Portal", routeValues: new { id = Model.Id }, htmlAttributes: new { @class = "btn btn1 btn-light DispalyBoxWithMargin" })
                            </div>
                        </div>
                    }

                </div>
                <br />
            </div>
            <div class="col-1"></div>
        </div>
    }
    }