@model _5051.Models.GameModel
@{
    ViewBag.Title = "Update";

}


<br />
<div class="row justify-content-center">

    <div class="col-1 "></div>
    <div class="col lightTransparentBox">
        <br />
        <div class="FontSizeLarge text-center">
            <span class="FontSizeLarger FontBold FontColorBlack">
                Game Settings
            </span>
        </div>
        <br />
    </div>
    <div class="col-1"></div>
</div>

<div class="row">
    <br />
    <br />
</div>


@{
    if (Model == null)
    {
        <div class="row justify-content-center">

            <div class="col-1 "></div>
            <div class="col lightTransparentBox">
                <br />
                <div class="FontSizeLarge text-center FontColorBlack">
                    No Data
                </div>
                <br />
            </div>
            <div class="col-1"></div>
        </div>
    }

    else
    {
        <div class="row justify-content-center FontColorBlack">

            <div class="col-1 "></div>
            <div class="col lightTransparentBox FontSizeMedium text-center">
                <br />
                <br />

                @using (Html.BeginForm())
                {
                    @Html.AntiForgeryToken()
                    @Html.HiddenFor(m => m.Id)

                    <div class="row">
                        <div class="col-5 text-right">
                            @Html.DisplayNameFor(m => m.Enabled)
                        </div>
                        <div class="col-1">
                            &nbsp;:&nbsp;
                        </div>
                        <div class="col text-left">
                            @Html.EditorFor(m => m.Enabled)
                            @Html.ValidationMessageFor(m => m.Enabled)
                        </div>
                    </div>
                    <br />

                    <div class="row">
                        <div class="col-5 text-right">
                            @Html.DisplayNameFor(m => m.RefreshRate)
                        </div>
                        <div class="col-1">
                            &nbsp;:&nbsp;
                        </div>
                        <div class="col text-left">
                            @Html.EditorFor(m => m.RefreshRate)
                            @Html.ValidationMessageFor(m => m.RefreshRate)
                        </div>
                    </div>
                    <br />

                    <div class="row">
                        <div class="col-5 text-right">
                            @Html.DisplayNameFor(m => m.TimeIteration)
                        </div>
                        <div class="col-1">
                            &nbsp;:&nbsp;
                        </div>
                        <div class="col text-left">
                            @Html.EditorFor(m => m.TimeIteration)
                            @Html.ValidationMessageFor(m => m.TimeIteration)
                        </div>
                    </div>

                    <br />
                    <hr />
                    <br />

                    <div class="row justify-content-around DispalyBoxWithMargin">
                        <div class="col text-center DispalyBoxWithMargin">
                            @Html.ActionLink("Back", "Read", new { Controller = "GameSettings" }, new { @class = "btn btn1 btn-light DispalyBoxWithMargin", id = "BackButton" })
                        </div>
                        <div class="col text-center DispalyBoxWithMargin">
                            <input type="submit" value="Update" class="btn btn1 btn-light DispalyBoxWithMargin" id="Submit">
                        </div>
                    </div>

                    <br />
                }
            </div>
            <div class="col-1"></div>
        </div>
    }
}

<br />
