@model _5051.Models.SchoolCalendarModel
@{
    ViewBag.Title = "Calendar Update";
    var Today = Model.Date.ToShortDateString();
    var TimeStart = string.Format("{0:D1}:{1:D2}", Model.TimeStart.Hours, Model.TimeStart.Minutes);
    var TimeEnd = string.Format("{0:D1}:{1:D2}", Model.TimeEnd.Hours, Model.TimeEnd.Minutes);
    var TimeDuration = string.Format("{0:D1}:{1:D2}", Model.TimeDuration.Hours, Model.TimeDuration.Minutes);
}

<br />
<div class="row justify-content-center">

    <div class="col-1 "></div>
    <div class="col lightTransparentBox">
        <br />
        <div class="FontSizeLarge text-center">
            <span class="FontSizeLarger FontBold FontColorWhite">Calendar Update</span>
        </div>
        <br />
    </div>
    <div class="col-1"></div>
</div>

<div class="row">
    <br />
    <br />
</div>

<div class="row justify-content-center FontColorWhite">
    <div class="col-1"></div>
    <div class="col lightTransparentBox">
        <br />
        <div class="FontSizeSmall text-left">
            <span>Enter the Information for this Day</span>
            <br />
            <span>To reset the day to default settings, click the Default button</span>
        </div>
        <br />
    </div>
    <div class="col-1"></div>
</div>

<div class="row">
    <br />
    <br />
</div>

@{
    if (Model == null)
    {
        <div class="row justify-content-center">

            <div class="col-1 "></div>
            <div class="col lightTransparentBox">
                <br />
                <div class="FontSizeLarge text-center FontColorWhite">
                    No Data
                </div>
                <br />
            </div>
            <div class="col-1"></div>
        </div>
    }
    else
    {
        <div class="row justify-content-center">
            <div class="col-1 "></div>
            <div class="col lightTransparentBox FontSizeMedium text-center FontColorWhite">
                <br />
                <br />
                <div class="row">
                    <div class="col-5 text-right">
                        <span class="FontSizeMedium">
                            Date
                        </span>
                    </div>
                    <div class="col-1">
                        &nbsp;:&nbsp;
                    </div>
                    <div class="col text-left">
                        <span class="FontSizeMedium">
                            @Today
                        </span>
                    </div>
                </div>
                <br />
                <div class="row">
                    @{
                        if (!Model.SchoolDay)
                        {
                            <div class="col-12 text-center">
                                <span class="FontSizeMedium">
                                    Not a school day
                                </span>
                            </div>
                                                      
                                <div class="col text-center DispalyBoxWithMargin">
                                    @Html.ActionLink("Back", "Index", new { id = Model.Id }, new { @class = "btn btn1 btn-light DispalyBoxWithMargin" })
                                </div>
                                <div class="col text-center DispalyBoxWithMargin">
                                    @Html.ActionLink("Enable School Day", "SetSchoolDay", new { id = Model.Id }, new { @class = "btn btn1 btn-light DispalyBoxWithMargin" })
                                </div>

                        }
                        else
                        {
                            <div class="col-5 text-right">
                                <span class="FontSizeMedium">
                                    Time in school
                                </span>
                            </div>
                            <div class="col-1">
                                &nbsp;:&nbsp;
                            </div>
                            <div class="col text-left">
                                <span class="FontSizeMedium">@TimeDuration</span>
                            </div>
                        }
                    }
                </div>
                <br />
                @{ 
                    if (Model.SchoolDay)
                    {
                        using (Html.BeginForm())
                        {
                        @Html.AntiForgeryToken()
                        @Html.HiddenFor(m => m.Id)

                        <div class="row">
                            <div class="col-5 text-right">
                                @Html.DisplayNameFor(m => m.TimeStart)
                            </div>
                            <div class="col-1">
                                &nbsp;:&nbsp;
                            </div>
                            <div class="col text-left">
                                @Html.EditorFor(m => m.TimeStart, new { htmlAttributes = new { @Value = TimeStart } })
                                @Html.ValidationMessageFor(m => m.TimeStart)
                            </div>
                            @{
                                if (Model.DayStart != _5051.Models.Enums.SchoolCalendarDismissalEnum.Normal)
                                {
                                    <div class="col-sm-2">
                                        <div class="text-left">
                                            @Model.DayStart Start
                                        </div>
                                    </div>
                                }
                            }
                        </div>
                        <br />
                        <div class="row">
                            <div class="col-5 text-right">
                                @Html.DisplayNameFor(m => m.TimeEnd)
                            </div>
                            <div class="col-1">
                                &nbsp;:&nbsp;
                            </div>
                            <div class="col text-left">
                                @Html.EditorFor(m => m.TimeEnd, new { htmlAttributes = new { @Value = TimeEnd } })
                                @Html.ValidationMessageFor(m => m.TimeEnd)
                            </div>
                            @{
                                if (Model.DayEnd != _5051.Models.Enums.SchoolCalendarDismissalEnum.Normal)
                                {
                                    <div class="col-sm-2">
                                        <div class="text-left">
                                            @Model.DayEnd Dismissal
                                        </div>
                                    </div>
                                }
                            }
                        </div>

                        <br />
                        <hr />
                        <br />

                        <div class="row">
                            <div class="col justify-content-center">
                                <div class="col text-center DispalyBoxWithMargin">
                                    <input type="submit" value="Update" class="btn btn1 btn-light DispalyBoxWithMargin">
                                </div>
                            </div>
                        </div>
                    }

                    <br />

                    <div class="row justify-content-around DispalyBoxWithMargin">
                        <div class="col text-center DispalyBoxWithMargin">
                            @Html.ActionLink("Back", "Index", new { id = Model.Id }, new { @class = "btn btn1 btn-light DispalyBoxWithMargin" })
                        </div>
                        <div class="col text-center DispalyBoxWithMargin">
                            @Html.ActionLink("Default", "SetDefault", new { id = Model.Id }, new { @class = "btn btn1 btn-light DispalyBoxWithMargin" })
                        </div>
                        <div class="col text-center DispalyBoxWithMargin">
                            @Html.ActionLink("Late Start", "SetLateStart", new { id = Model.Id }, new { @class = "btn btn1 btn-light DispalyBoxWithMargin" })
                        </div>
                        <div class="col text-center DispalyBoxWithMargin">
                            @Html.ActionLink("Early Dismissal", "SetEarlyEnd", new { id = Model.Id }, new { @class = "btn btn1 btn-light DispalyBoxWithMargin" })
                        </div>
                        <div class="col text-center DispalyBoxWithMargin">
                            @Html.ActionLink("Disable School Day", "SetNoSchoolDay", new { id = Model.Id }, new { @class = "btn btn1 btn-light DispalyBoxWithMargin" })
                        </div>
                    </div>
                                    }
                                }
            </div>
            <div class="col-1 "></div>
        </div>
        }

}

<br />

