@model _5051.Models.LoginViewModel
@{
    ViewBag.Title = "Reset Calendar";
}

<br />
<div class="row justify-content-center">
    <div class="col-1 "></div>
    <div class="col lightTransparentBox">
        <br />
        <div class="FontSizeLarge text-center">
            <span class="FontSizeLarger FontBold">Reset Calendar</span>
        </div>
        <br />
    </div>
    <div class="col-1"></div>
</div>


<div class="row">
    <br />
    <br />
</div>

<div class="row justify-text-center">
    <div class="col-1"></div>

    <div class="col text-center lightTransparentBox">
        <br />

        <div class="row no-gutters justify-content-center">

            @using (Html.BeginForm())
            {
                @Html.AntiForgeryToken()

                @Html.ValidationSummary(true, "", new { @class = "text-danger" })

            <div class="col">
                <div class="row justify-content-around">
                    <div class="col-2 FontSizeMedium FontBold">
                        Name
                    </div>
                    <div class="col-1"></div>
                    <div class="col">
                        @Html.TextBoxFor(m => m.Email, new { @class = "input1" })
                        @Html.ValidationMessageFor(m => m.Email, "", new { @class = "text-danger" })
                    </div>
                    <div class="col-1"></div>
                </div>

                <br />
                <div class="row justify-content-around">
                    <div class="col-2">
                        <i class="fa fa-lock LockStyle" aria-hidden="true"></i>
                    </div>
                    <div class="col-1"></div>
                    <div class="col">
                        @Html.PasswordFor(m => m.Password, new { @class = "input1" })
                        @Html.ValidationMessageFor(m => m.Password)
                    </div>
                    <div class="col-1"></div>
                </div>

                <div class="row justify-content-around">
                    <span><br /></span>
                </div>

                <div class="row justify-content-around">
                    <div class="col DispalyBoxWithMargin">
                        @Html.ActionLink("Cancel", "Index", new { Controller = "Home" }, new { @class = "btn btn1 btn-light" })
                    </div>
                    <div class="col DispalyBoxWithMargin">
                        <input id="BackupButtonId" type="submit" name="submit" value="Reset" class="btn btn1 btn-light" />
                        <br />
                        <br />
                    </div>
                </div>
            </div>
            }
            <br />
        </div>
    </div>

    <div class="col-1"></div>
</div>
