@model _5051.Models.BusinessReportViewModel
@{
    ViewBag.Title = " Business Report";
}

<br />
<div class="row justify-content-center">
    <div class="col-1 "></div>
    <div class="col lightTransparentBox">
        <br />
        <div class="FontSizeLarge text-center">
            <span class="FontSizeLarger FontBold">Business Report</span>
        </div>
        <br />
    </div>
    <div class="col-1"></div>
</div>

<div class="row">
    <br />
    <br />
</div>

<div class="row justify-content-center ">
    <div class="col-1"></div>
    <div class="col lightTransparentBox">

        <br />
        <div class="FontSizeMedium text-center">

            <div class="col-sm-auto"></div>
            <div class="row">
                <div class="col-6 text-right" id="income">
                    Income
                </div>
                <div class="col-1">
                    &nbsp;:&nbsp;
                </div>
                <div class="col text-left" id="IncomeValue">
                    @Model.income
                </div>
            </div>

            <div class="col-sm-auto"></div>
            <div class="row">
                <div class="col-6 text-right" id="outcome">
                    Costs
                </div>
                <div class="col-1">
                    &nbsp;:&nbsp;
                </div>
                <div class="col text-left" id="OutcomeValue">
                    @Model.outcome
                </div>
            </div>

            <div class="col-sm-auto"></div>
            <div class="row">
                <div class="col-6 text-right" id="profit">
                    Profit
                </div>
                <div class="col-1">
                    &nbsp;:&nbsp;
                </div>
                <div class="col text-left" id="ProfitValue">
                    @(Model.income  - Model.outcome)
                </div>
            </div>
        </div>
        </div>
    <div class="col-1"></div>
</div>
    

<div class="row">
    <br />
    <br />
</div>

<div class="row justify-content-around ">
    <div class="col-1"></div>
    <div class="col lightTransparentBox">
        <div class="col">
            <span class="FontSizeMedium text-center">Transaction detail</span>
        </div>
        <div class="col">
            @{
                foreach (var item in @Model.BusinessList)
                {
                    <div class="col-sm-4 text-center">
                        <span class="text-center">
                            @item.Name
                        </span>
                    </div>
                }
            }
        </div>
    </div>
    <div class="col-1"></div>
</div>




