@using _5051.Models;
@using _5051.Models.Enums;
@model _5051.Models.ShopTruckViewModel
@{

    ViewBag.Title = "Edit Truck";
    var myPlace = Model.TruckItem;
}

<br />
<div class="row justify-content-center">

    <div class="col-1 "></div>
    <div class="col lightTransparentBox">
        <br />
        <div class="FontSizeLarge text-center">
            <span class="FontSizeLarger FontBold">
                Choose the area to edit
            </span>
        </div>
        <br />
    </div>
    <div class="col-1"></div>
</div>

<div class="row">
    <br />
    <br />
</div>

@{
    ShopTruckItemViewModel[] shopItems = { Model.TruckItem, Model.TrailerItem, Model.MenuItem, Model.SignItem, Model.TopperItem, Model.WheelsItem };
    string[] shopTitles = { "Truck", "Trailer", "Menu", "Sign", "Topper", "Wheels" };
    string selectedItem = "";

    <div class="row justify-content-around">
        <div class="col-1 "></div>

        <div class="col">

            @using (Html.BeginForm("EditName", "Shop", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
            {
                /* Edit Truck Name */

                @Html.Hidden("StudentId", Model.StudentId);

                <div class="row justify-content-start">
                    <div class="col align-self-center">
                        <br />
                        <hr />
                        <span class="FontSizeLarge" id="truckName">
                            @*@Html.DisplayNameFor(m => m.TruckName)*@
                            Truck Name
                            <br />
                        </span>
                    </div>
                </div>
                <div class="row justify-content-start">

                    <div class="col">
                        <div class="row justify-content-start">
                            <div class="col-auto DispalyBoxWithMargin" id="studentValue">
                                @Html.TextBoxFor(m => m.TruckName, new { @class = "input2" })
                                @Html.ValidationMessageFor(m => m.TruckName)
                            </div>
                        </div>
                    </div>
                    <div class="col">
                        <div class="row justify-content-start">
                            <div class="col-auto DispalyBoxWithMargin">
                                <input type="submit" value="Update" class="btn btn1 btn-light">
                            </div>
                        </div>
                    </div>
                </div>
            }


            @{
                int count = 0;
                foreach (ShopTruckItemViewModel place in shopItems)
                {

                    <div class="row justify-content-start">
                        <div class="col align-self-center">
                            <br />
                            <hr />
                            <span class="FontSizeLarge">
                                @shopTitles[count]
                                <br />
                            </span>
                        </div>
                    </div>

                    <div class="row justify-content-start">

                        <div class="col">
                            <div class="row justify-content-start">

                                @{
                                    if (place.ItemList.Count < 1)
                                    {
                                        <div>No Items to Select</div><br /><br />
                                    }

                                    foreach (var InventoryItem in place.ItemList)
                                    {
                                        using (Html.BeginForm())
                                        {
                                            //Send up the Avatar, and the StudentId to associated the Avatar with.
                                            @Html.Hidden("StudentId", Model.StudentId);
                                            @Html.Hidden("ItemId", InventoryItem.Id);
                                            if (InventoryItem.Category == FactoryInventoryCategoryEnum.Truck)
                                            {
                                                @Html.Hidden("Position", FactoryInventoryCategoryEnum.Truck);
                                            }
                                            else if (InventoryItem.Category == FactoryInventoryCategoryEnum.Trailer)
                                            {
                                                @Html.Hidden("Position", FactoryInventoryCategoryEnum.Trailer);
                                            }
                                            else if (InventoryItem.Category == FactoryInventoryCategoryEnum.Menu)
                                            {
                                                @Html.Hidden("Position", FactoryInventoryCategoryEnum.Menu);
                                            }
                                            else if (InventoryItem.Category == FactoryInventoryCategoryEnum.Sign)
                                            {
                                                @Html.Hidden("Position", FactoryInventoryCategoryEnum.Sign);
                                            }
                                            else if (InventoryItem.Category == FactoryInventoryCategoryEnum.Topper)
                                            {
                                                @Html.Hidden("Position", FactoryInventoryCategoryEnum.Topper);
                                            }
                                            else if (InventoryItem.Category == FactoryInventoryCategoryEnum.Wheels)
                                            {
                                                @Html.Hidden("Position", FactoryInventoryCategoryEnum.Wheels);
                                            }

                                            var picturURI = "/Content/shop/" + InventoryItem.Uri;

                                            if (InventoryItem.Name.Equals(place.Item.Name))
                                            {
                                                selectedItem = "background-color:rgba(190, 227, 243, 0.7); opacity: 0.7;";
                                            }
                                            else
                                            {
                                                selectedItem = "";
                                            }

                                            <div class="col-auto lightTransparentBox BoxWithHighlightHover DispalyBoxWithMargin" style="@selectedItem" onclick="document.getElementById('@InventoryItem.Id').click()">
                                                <br />
                                                <div class="row no-gutters justify-content-center">
                                                    <input type="image" src="@picturURI"  name="submit" alt="@InventoryItem.Name" id="@InventoryItem.Id" class="AvatarSize1 darkBox" />
                                                </div>

                                                <div class="row no-gutters justify-content-center">
                                                    <div class="text-center FontSizeSmall">
                                                        <br />
                                                        @InventoryItem.Name<br />
                                                        <br />
                                                    </div>
                                                </div>
                                            </div>
                                        }
                                    }
                                    count++;
                                }
                            </div>
                        </div>
                    </div>
                }
            }
        </div>
        <div class="col-1 "></div>

    </div>
    }

<div class="row justify-content-start">

    <div class="col-1 "></div>

    <div class="col text-left">
        <br />
        <br />

        <div class="row justify-content-start">

        </div>

        <br />
        <br />

    </div>

    <div class="col-1 "></div>
</div>