@model _5051.Models.StudentModel
@{
    ViewBag.Title = "Shop";
}


<br />
<div class="row justify-content-center">

    <div class="col-1 "></div>
    <div class="col lightTransparentBox">
        <br />
        <div class="row justify-content-center">

            <div class="FontSizeLarge text-center">
                <span class="FontSizeLarger FontBold">@Model.Truck.TruckName</span>
            </div>

        </div>
        <br />
        <div class="row justify-content-center">

            <div class="text-center">
                @Html.ActionLink("Factory", "Factory", "Shop", new { id = Model.Id }, new { @class = "btn btn1 btn-light DispalyBoxWithMargin" })
                @Html.ActionLink("Inventory", "Inventory", "Shop", new { id = Model.Id }, new { @class = "btn btn1 btn-light DispalyBoxWithMargin" })
                @Html.ActionLink("Edit Truck", "Edit", "Shop", new { id = Model.Id }, new { @class = "btn btn1 btn-light DispalyBoxWithMargin" })
                @Html.ActionLink("Report", "BusinessReport", "Shop", new { id = Model.Id }, new { @class = "btn btn1 btn-light DispalyBoxWithMargin" })

            </div>

        </div>
        <br />
    </div>
    <div class="col-1"></div>
</div>

<div class="row">
    <br />
</div>

<div class="row justify-content-center">

    <div class="col-1"></div>
    <div class="col lightTransparentBox">

        <div class="row justify-content-center">

            <div class="col-sm-8">
                <div class="TruckBoxMedium">
                    <div>
                        @Html.Hidden("StudentId", Model.Id)
                    </div>

                    <div class="AvatarImageBox">
                        <img class="PeopleItem" id="PeopleItem" src="~/Content/avatar/AvatarFull.png" alt="Shopper">
                    </div>
                    <div class="WorkerImageBox">
                        <img class="WorkerItem" id="Worker" src="~/Content/shop/placeholder.png" alt="Worker">
                    </div>

                    <img class="TruckItemBase BackgroundItem" id="Background" src="~/Content/shop/Background1.png" alt="Background">

                    <img class="TruckItemBase TopperItem" id="Topper" src="~/Content/shop/placeholder.png" alt="Topper">
                    <img class="TruckItemBase SignItem" id="Sign" src="~/Content/shop/placeholder.png" alt="Sign">
                    <img class="TruckItemBase TruckItem" id="Truck" src="~/Content/shop/placeholder.png" alt="Truck">
                    <img class="TruckItemBase MenuItem" id="Menu" src="~/Content/shop/placeholder.png" alt="Menu">
                    <img class="TruckItemBase TruckItemBase WheelsItem" id="Wheels" src="~/Content/shop/placeholder.png" alt="Wheels">
                    <img class="TruckItemBase TrailerItem" id="Trailer" src="~/Content/shop/placeholder.png" alt="Trailer">
                    <img class="TruckItemBase TruckClosedSignItem" id="TruckClosedSign" src="~/Content/shop/placeholder.png" alt="Trailer">
                    <img class="TruckItemBase TruckInsideItem" id="TruckInside" src="~/Content/shop/placeholder.png" alt="Trailer">
                </div>
            </div>

        </div>

        <div class="row justify-content-center">
            <div class="col btn1 btn-light grid-container justify-content-around FontBold FontSizeSmall">
                <div>Lvl <span id="levelValue">@Model.AvatarLevel</span></div>
                <div><span id="ExperienceValue">@Model.ExperiencePoints</span> XP</div>
                <div><span id="TokensValue">@Model.Tokens</span> Tokens</div>
                <div><span>Customers:&nbsp;&nbsp;</span><span id="CustomersValue">10</span></div>
                <div><span id="StoreStatus"></span></div>
            </div>
        </div>

        <div class="FeedBar FontSizeSmall DispalyBoxWithMargin">
            <div class="row justify-content-around FontSizeMedium Transactions">
                <span>
                    Game Data:
                    <span id="TransactionList"></span>
                </span>

            </div>
        </div>

    </div>
    <div class="col-1"></div>

</div>


<script>
    // Clear the background image
    $("#BodyBackgroundImageId").removeClass();
</script>

<script src="~/Scripts/Game.js"></script>
<script src="~/Scripts/People.js"></script>

