@model _5051.Models.SelectedFactoryInventoryForStudentViewModel
@{
    ViewBag.Title = "Inventory";
}

<br />
<div class="row justify-content-center">
    <div class="col-1 "></div>
    <div class="col lightTransparentBox">
        <br />
        <div class="FontSizeLarge text-center">
            <span class="FontSizeLarger FontBold">
                Your Inventory of Truck Components
            </span>
        </div>
        <br />
    </div>
    <div class="col-1"></div>
</div>

<div class="row">
    <br />
    <br />
</div>

@{
    if (Model == null || Model.Student == null || Model.FactoryInventoryCategoryList == null || !Model.FactoryInventoryCategoryList.Any())
    {
        <div class="row justify-content-center">

            <div class="col-1 "></div>
            <div class="col lightTransparentBox">
                <br />
                <div class="FontSizeLarge text-center">
                    There is nothing in your Inventory. Go to factory to buy something.
                </div>
                <br />
            </div>
            <div class="col-1"></div>
        </div>
    }
    else
    {
        <div class="row justify-content-around">
            <div class="col-1 "></div>
            <div class="col">
                @{
                    foreach (var currentCategory in Model.FactoryInventoryCategoryList)
                    {

                        <div class="row justify-content-start">
                            <div class="col align-self-center">
                                <br />
                                <hr />
                                <span class="FontSizeLarge">
                                    @currentCategory.Category.GetDisplayName()
                                    <br />
                                </span>
                            </div>
                        </div>

                        <div class="row justify-content-start">

                            <div class="col">
                                <div class="row justify-content-start">

                                    @{
                                        foreach (var item in currentCategory.FactoryInventoryList)
                                        {
                                            <div class="col-auto lightTransparentBox BoxWithHighlightHover DispalyBoxWithMargin">
                                                <br />
                                                <div class="row no-gutters justify-content-center">
                                                    <img src="~/Content/shop/@item.Uri" class="AvatarSize1 darkBox" />
                                                </div>

                                                <div class="row no-gutters justify-content-center">
                                                    <div class="text-center FontSizeSmall">
                                                        <br />
                                                        @item.Name<br />
                                                        @item.Description<br />
                                                        <br />
                                                    </div>
                                                </div>
                                            </div>
                                        }
                                    }
                                </div>
                            </div>
                        </div>
                    }
                }
            </div>
            <div class="col-1 "></div>

        </div>
    }
}

<div class="row justify-content-start">

    <div class="col-1 "></div>

    <div class="col text-left">
        <br />
        <br />

        <div class="row justify-content-start">

            <div class="col-auto text-center">
                @Html.ActionLink("Back to Store", "Index", new { id = Model.Student.Id }, new { @class = "btn btn1 btn-light DispalyBoxWithMargin" })
            </div>

            <div class="col-auto text-center">
                @Html.ActionLink("Go to Factory", "Factory", new { id = Model.Student.Id }, new { @class = "btn btn1 btn-light DispalyBoxWithMargin" })
            </div>
        </div>

        <br />
        <br />

    </div>

    <div class="col-1 "></div>
</div>
