@model _5051.Models.BaseReportViewModel

<div style="padding: 50px">
    <h3>Statistics</h3>
    @*<table class="table table-striped">
            <thead>
                <tr>
                    <th>Date</th>
                    <th>In</th>
                    <th>Out</th>
                    <th>Attended</th>
                    <th>Expected</th>
                    <th>Perc Attended</th>
                    <th>Total Attended</th>
                    <th>Total Expected</th>
                    <th>Attendance</th>
                    <th>CheckIn</th>
                    <th>CheckOut</th>
                    <th>Emotion</th>
                </tr>
            </thead>
            <tbody>
                @{
                    foreach (var item in Model.AttendanceList)
                    {
                        if (item.IsSchoolDay)
                        {
                            <tr>
                                <td>@item.Date.ToShortDateString()</td>
                                <td>@item.TimeIn.ToString("hh:mm")</td>
                                <td>@item.TimeOut.ToString("hh:mm")</td>
                                <td>@string.Format("{0:%h}h {0:%m}m", item.HoursAttended)</td>
                                <td>@string.Format("{0:%h}h {0:%m}m", item.HoursExpected)</td>
                                <td>@item.PercentAttended</td>
                                <td>@string.Format("{0:%d}d {0:%h}h {0:%m}m", item.TotalHours)</td>
                                <td>@string.Format("{0:%d}d {0:%h}h {0:%m}m", item.TotalHoursExpected)</td>
                                <td>@item.AttendanceStatus.ToString()</td>
                                <td>@item.CheckInStatus.ToString()</td>
                                <td>@item.CheckOutStatus.ToString()</td>
                                <td>@item.Emotion.ToString()</td>
                            </tr>
                        }
                    }
                }
            </tbody>
        </table>*@
    <table class="table table-striped">
        <thead>
            <tr>
                <th>Attendance Status</th>
                <th>Days</th>
                <th>Percentage</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>Present</td>
                <td>@Model.Stats.DaysPresent</td>
                <td>@Model.Stats.PercPresent%</td>
            </tr>
            <tr>
                <td>Absent Unexcused</td>
                <td>@Model.Stats.DaysAbsentUnexcused</td>
                <td>@Model.Stats.PercUnexcused%</td>
            </tr>
            <tr>
                <td>Absent Excused</td>
                <td>@Model.Stats.DaysAbsentExcused</td>
                <td>@Model.Stats.PercExcused%</td>
            </tr>
            <tr>
                <td>In Late</td>
                <td>@Model.Stats.DaysLate</td>
                <td>@Model.Stats.PercInLate%</td>
            </tr>
            <tr>
                <td>Out Early</td>
                <td>@Model.Stats.DaysOutEarly</td>
                <td>@Model.Stats.PercOutEarly%</td>
            </tr>
            <tr>
                <td>Total Days</td>
                <td>@Model.Stats.NumOfSchoolDays</td>
                <td>100%</td>
            </tr>
        </tbody>
    </table>
</div>