
@{
    ViewBag.Title = "Settings";
}

<br />
<div class="row justify-content-center">

    <div class="col-1 "></div>
    <div class="col lightTransparentBox">
        <br />
        <div class="FontSizeLarge text-center">
            <span class="FontSizeLarger FontBold FontColorWhite">Settings</span>
        </div>
        <br />
    </div>
    <div class="col-1"></div>
</div>

<div class="row">
    <br />
    <br />
</div>

<div class="row justify-content-center">
    <div class="col-1 "></div>
    <div class="col lightTransparentBox">
        <div class="row justify-content-center FontSizeMedium FontColorWhite">

            <div class="col-auto text-center DispalyBoxWithMargin">
                Kiosk Settings<br />
                @Html.ActionLink("Kiosk", "Read", "KioskSettings", null, new { @class = "btn btn1 btn-light DispalyBoxWithMargin" })
            </div>

            <div class="col-auto text-center DispalyBoxWithMargin">
                School Dismissal<br />
                @Html.ActionLink("Dismissal", "Read", "SchoolDismissalSettings", null, new { @class = "btn btn1 btn-light DispalyBoxWithMargin" })
            </div>

            <div class="col-auto text-center DispalyBoxWithMargin">
                Game Settings<br />
                @Html.ActionLink("Game", "Read", "GameSettings", null, new { @class = "btn btn1 btn-light DispalyBoxWithMargin" })
            </div>

            <div class="col-auto text-center DispalyBoxWithMargin">
                Admin Settings<br />
                @Html.ActionLink("Change Password", "ChangePassword", "Admin", routeValues: new { id = "teacher" }, htmlAttributes: new { @class = "btn btn1 btn-light DispalyBoxWithMargin" })
            </div>

            <div class="col-auto text-center DispalyBoxWithMargin">
                Support Users<br />
                @Html.ActionLink("Support", "Login", "Support", null, new { @class = "btn btn1 btn-light DispalyBoxWithMargin" })
            </div>
        </div>
        
        <div class="row">
            <br />
            <br />
        </div>

    </div>
    <div class="col-1 "></div>
</div>

<br />