@model _5051.Models.AvatarItemListViewModel
@{
    ViewBag.Title = "Edit Avatar Items";
}

<br />
<div class="row justify-content-center">

    <div class="col-1 "></div>
    <div class="col lightTransparentBox">
        <br />
        <div class="FontSizeLarge text-center">
            <span class="FontSizeLarger FontBold FontColorWhite">
                Click on the Avatar Item
            </span>
        </div>
        <br />
    </div>
    <div class="col-1"></div>
</div>

<div class="row">
    <br />
    <br />
</div>

@{
    if (Model.AvatarItemCategoryList == null || !Model.AvatarItemCategoryList.Any())
    {
        <div class="row justify-content-center">

            <div class="col-1 "></div>
            <div class="col lightTransparentBox">
                <br />
                <div class="FontSizeLarge text-center FontColorWhite">
                    No Avatar Items.  Click Create New Item to make one
                </div>
                <br />
            </div>
            <div class="col-1"></div>
        </div>
    }
    else
    {

        <div class="row justify-content-around FontColorWhite">
            <div class="col-1 "></div>

            <div class="col">
                @{
                    foreach (var category in Model.AvatarItemCategoryList)
                    {

                        <div class="row justify-content-start">
                            <div class="col align-self-center">
                                <br />
                                <hr />
                                <span class="FontSizeLarge">
                                    @category.Category.GetDisplayName()
                                    <br />
                                </span>
                            </div>
                        </div>

                        <div class="row justify-content-start">

                            <div class="col">
                                <div class="row justify-content-start">

                                    @{
                                        foreach (var item in category.AvatarItemList)
                                        {
                                            <div class="col-auto lightTransparentBox BoxWithHighlightHover DispalyBoxWithMargin">
                                                <a id="@item.Id" href="~/AvatarItem/Read/@item.Id">
                                                    <br />
                                                    <div class="row no-gutters justify-content-center">
                                                        <img src="~/Content/avatar/@item.Uri" class="AvatarSize1 lightBox" />
                                                    </div>

                                                    <div class="row no-gutters justify-content-center">
                                                        <div class="text-center FontSizeSmall">
                                                            <br />
                                                            @item.Name<br />
                                                            @item.Description<br />
                                                            <br />
                                                        </div>
                                                    </div>
                                                </a>
                                            </div>
                                        }
                                    }
                                </div>
                            </div>
                        </div>
                    }
                }
            </div>

            <div class="col-1 "></div>
        </div>
    }
}

<div class="row justify-content-center">
    <div class="col text-center">
        <br />
        <br />
        @Html.ActionLink("Create New Item", "Create", null, new { @class = "btn btn1 btn-light" })
        <br />
        <br />
    </div>
</div>
