@model _5051.Models.AvatarItemModel
@{
    ViewBag.Title = "Read";
}

<br />
<div class="row justify-content-center">

    <div class="col-1 "></div>
    <div class="col lightTransparentBox">
        <br />
        <div class="FontSizeLarge text-center">
            <span class="FontSizeLarger FontBold FontColorWhite">
                Avatar Item
            </span>
        </div>
        <br />
    </div>
    <div class="col-1"></div>
</div>

<div class="row">
    <br />
    <br />
</div>


@{
    if (Model == null)
    {
        <div class="row justify-content-center">

            <div class="col-1 "></div>
            <div class="col lightTransparentBox">
                <br />
                <div class="FontSizeLarge text-center FontColorWhite">
                    No Avatar Item
                </div>
                <br />
            </div>
            <div class="col-1"></div>
        </div>
    }
    else
    {
        <div class="row justify-content-around FontColorWhite">

            <div class="col-1 "></div>
            <div class="col lightTransparentBox FontSizeMedium text-center">
                <br />

                <div class="row justify-content-center">
                    <div class="col-auto darkTransparentBox DispalyBoxWithMargin">
                        <br />
                        <div class="row justify-content-center">
                            <img src="~/Content/avatar/@Model.Uri" class="AvatarSize1 lightBox DispalyBoxWithMargin" />
                        </div>

                        <div class="row justify-content-center">
                            <div id="currentNameDisplayed" class="col FontSizeMedium DispalyBoxWithMargin">
                                @Model.Name
                            </div>
                        </div>
                    </div>
                </div>

                <br />

                <div class="row justify-content-center">
                    <div class="col-6 text-sm-center text-md-right" id="studentName">
                        @Html.DisplayNameFor(m => m.Name)
                    </div>
                    <div class="col-1">
                    </div>
                    <div class="col-sm text-left lightTransparentBox" id="studentValue">
                        @Html.DisplayFor(m => m.Name)
                    </div>
                    <div class="col-1"></div>
                </div>

                <div class="row justify-content-center">
                    <div class="col-6 text-sm-center text-md-right" id="tokensName">
                        @Html.DisplayNameFor(m => m.Description)
                    </div>
                    <div class="col-1">

                    </div>
                    <div class="col-sm text-left lightTransparentBox" id="tokensValue">
                        @Html.DisplayFor(m => m.Description)
                    </div>
                    <div class="col-1"></div>
                </div>

                <div class="row justify-content-center">
                    <div class="col-6 text-sm-center text-md-right" id="xpName">
                        @Html.DisplayNameFor(m => m.Uri)
                    </div>
                    <div class="col-1">

                    </div>
                    <div class="col-sm text-left lightTransparentBox" id="xpValue">
                        @Html.DisplayFor(m => m.Uri)
                    </div>
                    <div class="col-1"></div>
                </div>

                <div class="row justify-content-center">
                    <div class="col-6 text-sm-center text-md-right" id="xpName">
                        @Html.DisplayNameFor(m => m.Category)
                    </div>
                    <div class="col-1">

                    </div>
                    <div class="col-sm text-left lightTransparentBox" id="xpValue">
                        @Html.DisplayFor(m => m.Category)
                    </div>
                    <div class="col-1"></div>
                </div>

                <div class="row justify-content-center">
                    <div class="col-6 text-sm-center text-md-right" id="xpName">
                        @Html.DisplayNameFor(m => m.Tokens)
                    </div>
                    <div class="col-1">

                    </div>
                    <div class="col-sm text-left lightTransparentBox" id="xpValue">
                        @Html.DisplayFor(m => m.Tokens)
                    </div>
                    <div class="col-1"></div>
                </div>

                <div class="row justify-content-center">
                    <div class="col-6 text-sm-center text-md-right" id="xpName">
                        @Html.DisplayNameFor(m => m.Quantities)
                    </div>
                    <div class="col-1">

                    </div>
                    <div class="col-sm text-left lightTransparentBox" id="xpValue">
                        @Html.DisplayFor(m => m.Quantities)
                    </div>
                    <div class="col-1"></div>
                </div>

                <br />
                <hr />
                <br />

                <div class="row justify-content-center">
                    <div class="col-auto text-center">
                        @Html.ActionLink("Cancel", "Index", new { id = Model.Id }, new { @class = "btn btn1 btn-light DispalyBoxWithMargin" })
                    </div>
                    <div class="col-auto text-center">
                        @Html.ActionLink("Update", "Update", new { id = Model.Id }, new { @class = "btn btn1 btn-light DispalyBoxWithMargin" })
                    </div>
                    <div class="col-auto text-center">
                        @Html.ActionLink("Delete", "Delete", new { id = Model.Id }, new { @class = "btn btn1 btn-light DispalyBoxWithMargin" })
                    </div>
                </div>
                <br />
            </div>
            <div class="col-1"></div>
        </div>
        <br />
        <br />
    }
}