@{
    ViewBag.Title = "Settings";
}

<br />
<div class="row justify-content-center">

    <div class="col-1 "></div>
    <div class="col lightTransparentBox">
        <br />
        <div class="FontSizeLarge text-center">
            <span class="FontSizeLarger FontBold FontColorBlack">Settings</span>
        </div>
        <br />
    </div>
    <div class="col-1"></div>
</div>

<div class="row">
    <br />
    <br />
</div>

<div class="row justify-content-center">
    <div class="col-1 "></div>

    <div class="col lightTransparentBox">
        <div class="row justify-content-center FontSizeMedium FontColorBlack">

            <div class="col-auto text-center DispalyBoxWithMargin">
                Reset Data<br />
                @Html.ActionLink("Reset Data", "Reset", "Support", null, new { @class = "btn btn1 btn-light DispalyBoxWithMargin" })
            </div>

        </div>
        <div class="row justify-content-center FontSizeMedium FontColorBlack">
            <div class="col-auto text-center DispalyBoxWithMargin">
                Configure Source Data Set<br />
                @Html.ActionLink("Default Data", "DataSourceSet", "Support", new { id = _5051.Models.DataSourceDataSetEnum.Default }, new { @class = "btn btn1 btn-light DispalyBoxWithMargin" })<br />
                @Html.ActionLink("Demo Data Set", "DataSourceSet", "Support", new { id = _5051.Models.DataSourceDataSetEnum.Demo }, new { @class = "btn btn1 btn-light DispalyBoxWithMargin" })<br />
            </div>
        </div>
        <div class="row justify-content-center FontSizeMedium FontColorBlack">

            <div class="col-auto text-center DispalyBoxWithMargin">

                <div class="FontSizeLarge">
                    @_5051.Models.SystemGlobalsModel.Instance.DataSourceValue
                </div>

                Configure Data Source<br />
                @Html.ActionLink("Mock Database", "DataSource", "Support", new { id = _5051.Models.DataSourceEnum.Mock }, new { @class = "btn btn1 btn-light DispalyBoxWithMargin" })<br />
                @Html.ActionLink("Local Database", "DataSource", "Support", new { id = _5051.Models.DataSourceEnum.Local }, new { @class = "btn btn1 btn-light DispalyBoxWithMargin" })<br />
                @Html.ActionLink("Server Test Database", "DataSource", "Support", new { id = _5051.Models.DataSourceEnum.ServerTest }, new { @class = "btn btn1 btn-light DispalyBoxWithMargin" })<br />
                <hr />
                @Html.ActionLink("Server Live Database", "DataSource", "Support", new { id = _5051.Models.DataSourceEnum.ServerLive }, new { @class = "btn btn1 btn-light DispalyBoxWithMargin" })<br />
            </div>
        </div>

    </div>

    <div class="col-1 "></div>
</div>

<div class="row">
    <br />
    <br />
</div>
