@model _5051.Models.StudentModel

@{
    ViewBag.Title = "Create";
}

<br />
<div class="row justify-content-center">

    <div class="col-1 "></div>
    <div class="col lightTransparentBox">
        <br />
        <div class="FontSizeLarge text-center">
            <span class="FontSizeLarger FontBold FontColorWhite">
                Create Student
            </span>
        </div>
        <br />
    </div>
    <div class="col-1"></div>
</div>

<div class="row">
    <br />
    <br />
</div>

<div class="row justify-content-center">
    <div class="col-1 "></div>
    <div class="col lightTransparentBox FontSizeMedium text-center FontColorWhite">
        <br />
        <br />
        @using (Html.BeginForm())
        {
            @Html.AntiForgeryToken()
            @Html.HiddenFor(m => m.Id)
            <div class="row justify-content-center">
                <div class="col-sm text-sm-center text-md-right" id="studentName">
                    @Html.DisplayNameFor(m => m.Name)
                </div>
                <div class="col-1">
                </div>
                <div class="col-sm text-left" id="studentValue">
                    @Html.EditorFor(m => m.Name)
                    @Html.ValidationMessageFor(m => m.Name)
                </div>
            </div>
            <div class="row justify-content-around">
                <div class="col-4 text-right FontSizeMedium">
                     
                </div>
                <div class="col-1"></div>
                <div class="col">
                    The default password for new users is "abc".
                </div>
                <div class="col-1"></div>
            </div>
            <br />
            <hr />
            <br />

            <div class="row justify-content-center">
                <div class="col-auto justify-content-center text-center DispalyBoxWithMargin">
                    @Html.ActionLink("Cancel", "Index", new { id = Model.Id }, new { @class = "btn btn1 btn-light DispalyBoxWithMargin" })
                </div>

                <div class="col-1"></div>

                <div class="col-auto justify-content-center text-center DispalyBoxWithMargin">
                    <input type="submit" value="Create" class="btn btn1 btn-light DispalyBoxWithMargin">
                </div>
            </div>
        }
        <br />
    </div>
    <div class="col-1"></div>
</div>
