@model _5051.Models.StudentViewModel
@{
    ViewBag.Title = "Roster";
}
<br />
<div class="row justify-content-center">

    <div class="col-1 "></div>
    <div class="col lightTransparentBox">
        <br />
        <div class="FontSizeLarge text-center FontColorWhite">
            <span class="FontSizeLarger FontBold">Click on the student to view</span>
        </div>
        <br />
    </div>
    <div class="col-1"></div>
</div>

<div class="row">
    <br />
    <br />
</div>

<div class="row justify-content-around FontColorWhite">
    @{
        if (Model.StudentList == null || !Model.StudentList.Any())
        {
            <div class="col text-center FontSizeLarge">
                <br />
                No Students in the System
                <br />
            </div>
        }
        else
        {
            <div class="col-1"></div>
            <div class="col">
                <div class="row justify-content-around">

                    @{
                        foreach (var item in Model.StudentList)
                        {

                            <div class="col-sm-2 lightTransparentBox BoxWithHighlightHover DispalyBoxWithMargin">

                                <a id="@item.Id" href="~/Student/Read/@item.Id">
                                    <div class="row justify-content-center">
                                        <div class="AvatarBoxNormal align-self-sm-center" id="AvatarBox">
                                            <div class="AvatarCircle"></div>
                                            <img class="AvatarItemBase AvatarHairBack" id="AvatarHairBack" src="@item.AvatarComposite.AvatarHairBackUri" />
                                            <img class="AvatarItemBase AvatarHead" id="AvatarHead" src="@item.AvatarComposite.AvatarHeadUri" />
                                            <img class="AvatarItemBase AvatarShirt" id="AvatarShirt" src="@item.AvatarComposite.AvatarShirtShortUri" />
                                            <img class="AvatarItemBase AvatarExpression" id="AvatarExpression" src="@item.AvatarComposite.AvatarExpressionUri" />
                                            <img class="AvatarItemBase AvatarCheeks" id="AvatarCheeks" src="@item.AvatarComposite.AvatarCheeksUri" />
                                            <img class="AvatarItemBase AvatarHairFront" id="AvatarHairFront" src="@item.AvatarComposite.AvatarHairFrontUri" />
                                            <img class="AvatarItemBase AvatarAccessory" id="AvatarAccessory" src="@item.AvatarComposite.AvatarAccessoryUri" />
                                        </div>
                                    </div>
                                </a>

                                <div class="row justify-content-center">
                                    <div id="text-center">
                                        <span class="FontSizeMedium">@item.Name</span>
                                    </div>
                                </div>
                            </div>
                        }
                    }
                </div>
            </div>
            <div class="col-1"></div>
        }
    }
</div>

<div class="row justify-content-start">
    <div class="col text-center">
        <br />
        <br />
        @Html.ActionLink("Create New Student", "Create", null, new { @class = "btn btn1 btn-light" })
        <br />
        <br />
    </div>
</div>
