@model _5051.Models.StudentDisplayViewModel

@{
    ViewBag.Title = "Read";
}

<br />
<div class="row justify-content-center">

    <div class="col-1 "></div>
    <div class="col lightTransparentBox">
        <br />
        <div class="FontSizeLarge text-center">
            <span class="FontSizeLarger FontBold FontColorWhite">
                Student Settings
            </span>
        </div>
        <br />
    </div>
    <div class="col-1"></div>
</div>

<div class="row">
    <br />
    <br />
</div>


@{
    if (Model == null)
    {
        <div class="row justify-content-center">

            <div class="col-1 "></div>
            <div class="col lightTransparentBox">
                <br />
                <div class="FontSizeLarge text-center FontColorWhite">
                    No Student
                </div>
                <br />
            </div>
            <div class="col-1"></div>
        </div>
    }

    else
    {
        <div class="row justify-content-center FontColorWhite">

            <div class="col-1 "></div>
            <div class="col lightTransparentBox">
                <br />
                <div class="FontSizeMedium text-center">

                    <div class="row justify-content-center">
                        <div class="AvatarBoxNormal align-self-sm-center" id="AvatarBox">
                            <div class="AvatarCircle"></div>
                            <img class="AvatarItemBase AvatarHairBack" id="AvatarHairBack" src="@Model.AvatarComposite.AvatarHairBackUri" />
                            <img class="AvatarItemBase AvatarHead" id="AvatarHead" src="@Model.AvatarComposite.AvatarHeadUri" />
                            <img class="AvatarItemBase AvatarShirt" id="AvatarShirt" src="@Model.AvatarComposite.AvatarShirtShortUri" />
                            <img class="AvatarItemBase AvatarExpression" id="AvatarExpression" src="@Model.AvatarComposite.AvatarExpressionUri" />
                            <img class="AvatarItemBase AvatarCheeks" id="AvatarCheeks" src="@Model.AvatarComposite.AvatarCheeksUri" />
                            <img class="AvatarItemBase AvatarHairFront" id="AvatarHairFront" src="@Model.AvatarComposite.AvatarHairFrontUri" />
                            <img class="AvatarItemBase AvatarAccessory" id="AvatarAccessory" src="@Model.AvatarComposite.AvatarAccessoryUri" />
                        </div>
                    </div>
                    <span id="currentNameDisplayed" class="FontSizeLarge">
                        @Model.Name
                    </span>

                    <br />
                    <br />

                    <div class="row justify-content-around">
                        <div class="col text-right" id="avatarLevelName">
                            @Html.DisplayNameFor(m => m.AvatarLevel)
                        </div>
                        <div class="col-1">
                            &nbsp;:&nbsp;
                        </div>
                        <div class="col text-left" id="avatarLevelValue">
                            @Html.DisplayFor(m => m.AvatarLevel)
                        </div>
                    </div>

                    <div class="row justify-content-around">
                        <div class="col text-right" id="tokensName">
                            @Html.DisplayNameFor(m => m.Tokens)
                        </div>
                        <div class="col-1">
                            &nbsp;:&nbsp;
                        </div>
                        <div class="col text-left" id="tokensValue">
                            @Html.DisplayFor(m => m.Tokens)
                        </div>
                    </div>

                    <div class="row justify-content-around">
                        <div class="col text-right" id="xpName">
                            @Html.DisplayNameFor(m => m.ExperiencePoints)
                        </div>
                        <div class="col-1">
                            &nbsp;:&nbsp;
                        </div>
                        <div class="col text-left" id="xpValue">
                            @Html.DisplayFor(m => m.ExperiencePoints)
                        </div>
                    </div>

                    <div class="row justify-content-around">
                        <div class="col text-right" id="currentStatusName">
                            @Html.DisplayNameFor(m => m.Status)
                        </div>
                        <div class="col-1">
                            &nbsp;:&nbsp;
                        </div>
                        <div class="col text-left" id="currentStatusValue">
                            @Html.DisplayFor(x => x.Status)
                        </div>
                    </div>

                    <div class="row justify-content-around">
                        <div class="col text-right" id="currentEmotionName">
                            @Html.DisplayNameFor(m => m.EmotionCurrent)
                        </div>
                        <div class="col-1">
                            &nbsp;:&nbsp;
                        </div>
                        <div class="col text-left" id="currentEmotionValue">
                            @Html.DisplayFor(x => x.EmotionCurrent)
                            &nbsp;&nbsp;
                            <img src="@Model.EmotionUri" class="EmotionSizeLarge" alt="@Model.EmotionCurrent" />
                        </div>
                    </div>

                    <div class="row justify-content-around">
                        <div class="col text-right" id="truckName">
                            @Html.DisplayNameFor(m => m.Truck.TruckName)
                        </div>
                        <div class="col-1">
                            &nbsp;:&nbsp;
                        </div>
                        <div class="col text-left" id="truckNameValue">
                            @Html.DisplayFor(x => x.Truck.TruckName)
                        </div>
                    </div>

                    <br />

                    <hr />
                </div>
                <br />

                <div class="row justify-content-around DispalyBoxWithMargin">
                    <div class="col text-center DispalyBoxWithMargin">
                        @Html.ActionLink("Cancel", "Index", new { id = Model.Id }, new { @class = "btn btn1 btn-light DispalyBoxWithMargin" })
                    </div>
                    <div class="col text-center DispalyBoxWithMargin">
                        @Html.ActionLink("Update", "Update", new { id = Model.Id }, new { @class = "btn btn1 btn-light DispalyBoxWithMargin" })
                    </div>
                    <div class="col text-center DispalyBoxWithMargin">
                        @Html.ActionLink("Reset Password", "ResetPassword", new { id = Model.Id }, new { @class = "btn btn1 btn-light DispalyBoxWithMargin" })
                    </div>
                    <div class="col text-center DispalyBoxWithMargin">
                        @Html.ActionLink("Delete", "Delete", new { id = Model.Id }, new { @class = "btn btn1 btn-light DispalyBoxWithMargin" })
                    </div>
                    <div class="col text-center DispalyBoxWithMargin">
                        @Html.ActionLink("Attendance", "Read", new { controller = "Attendance", id = Model.Id }, new { @class = "btn btn1 btn-light DispalyBoxWithMargin" })
                    </div>
                </div>

                <br />

            </div>
            <div class="col-1"></div>
        </div>
    }
}