@model _5051.Models.StudentDisplayViewModel

@{
    ViewBag.Title = "Update";
}

<br />
<div class="row justify-content-center">

    <div class="col-1 "></div>
    <div class="col lightTransparentBox">
        <br />
        <div class="FontSizeLarge text-center">
            <span class="FontSizeLarger FontBold FontColorWhite">
                Update Student
            </span>
        </div>
        <br />
    </div>
    <div class="col-1"></div>
</div>

<div class="row">
    <br />
    <br />
</div>


@{
    if (Model == null)
    {
        <div class="row justify-content-center FontColorWhite">

            <div class="col-1 "></div>
            <div class="col lightTransparentBox">
                <br />
                <div class="FontSizeLarge text-center">
                    No Student
                </div>
                <br />
            </div>
            <div class="col-1"></div>
        </div>
    }

    else
    {
        <div class="row justify-content-center FontColorWhite">

            <div class="col-1 "></div>
            <div class="col lightTransparentBox FontSizeMedium text-center">
                <br />
                <div class="row justify-content-center">
                    <div class="AvatarBoxNormal align-self-sm-center" id="AvatarBox">
                        <div class="AvatarCircle"></div>
                        <img class="AvatarItemBase AvatarHairBack" id="AvatarHairBack" src="@Model.AvatarComposite.AvatarHairBackUri" />
                        <img class="AvatarItemBase AvatarHead" id="AvatarHead" src="@Model.AvatarComposite.AvatarHeadUri" />
                        <img class="AvatarItemBase AvatarShirt" id="AvatarShirt" src="@Model.AvatarComposite.AvatarShirtShortUri" />
                        <img class="AvatarItemBase AvatarExpression" id="AvatarExpression" src="@Model.AvatarComposite.AvatarExpressionUri" />
                        <img class="AvatarItemBase AvatarCheeks" id="AvatarCheeks" src="@Model.AvatarComposite.AvatarCheeksUri" />
                        <img class="AvatarItemBase AvatarHairFront" id="AvatarHairFront" src="@Model.AvatarComposite.AvatarHairFrontUri" />
                        <img class="AvatarItemBase AvatarAccessory" id="AvatarAccessory" src="@Model.AvatarComposite.AvatarAccessoryUri" />
                    </div>
                </div>

                <div class="row justify-content-center">
                    <div id="currentNameDisplayed" class="col FontSizeLarge">
                        @Model.Name
                    </div>
                </div>

                <br />
                <br />

                @using (Html.BeginForm())
                {
                    @Html.AntiForgeryToken()
                    @Html.HiddenFor(m => m.Id)
                    @Html.HiddenFor(m => m.Password)

                    <div class="row justify-content-center">
                        <div class="col-sm text-sm-center text-md-right" id="studentName">
                            @Html.DisplayNameFor(m => m.Name)
                        </div>
                        <div class="col-1">
                        </div>
                        <div class="col-sm text-left" id="studentValue">
                            @Html.EditorFor(m => m.Name)
                            @Html.ValidationMessageFor(m => m.Name)
                        </div>
                    </div>

                    <div class="row justify-content-center">
                        <div class="col-sm text-sm-center text-md-right" id="tokensName">
                            @Html.DisplayNameFor(m => m.Tokens)
                        </div>
                        <div class="col-1">

                        </div>
                        <div class="col-sm text-left" id="tokensValue">
                            @Html.EditorFor(m => m.Tokens)
                            @Html.ValidationMessageFor(m => m.Tokens)
                        </div>
                    </div>

                    <div class="row justify-content-center">
                        <div class="col-sm text-sm-center text-md-right" id="xpName">
                            @Html.DisplayNameFor(m => m.ExperiencePoints)
                        </div>
                        <div class="col-1">

                        </div>
                        <div class="col-sm text-left" id="xpValue">
                            @Html.EditorFor(m => m.ExperiencePoints)
                            @Html.ValidationMessageFor(m => m.ExperiencePoints)
                        </div>
                    </div>

                    <div class="row justify-content-center">
                        <div class="col-sm text-sm-center text-md-right" id="currentStatusName">
                            Status
                        </div>
                        <div class="col-1">

                        </div>
                        <div class="col-sm text-left" id="currentStatusValue">
                            @Html.EnumDropDownListFor(x => x.Status, "Select Status")
                            @Html.ValidationMessageFor(m => m.Status)
                        </div>
                    </div>

                    <div class="row justify-content-center">
                        <div class="col-sm text-sm-center text-md-right" id="truckName">
                            @Html.DisplayNameFor(m => m.Truck.TruckName)
                        </div>
                        <div class="col-1">

                        </div>
                        <div class="col-sm text-left" id="truckNameValue">
                            @Html.EditorFor(m => m.Truck.TruckName)
                            @Html.ValidationMessageFor(m => m.Truck.TruckName)
                        </div>
                    </div>

                    <br />
                    <hr />
                    <br />

                    <div class="row justify-content-center">
                        <div class="col-auto justify-content-center text-center DispalyBoxWithMargin">
                            @Html.ActionLink("Cancel", "Index", new { id = Model.Id }, new { @class = "btn btn1 btn-light DispalyBoxWithMargin" })
                        </div>

                        <div class="col-1"></div>

                        <div class="col-auto justify-content-center text-center DispalyBoxWithMargin">
                            <input type="submit" value="Update" class="btn btn1 btn-light DispalyBoxWithMargin">
                        </div>
                    </div>
                }
                <br />

            </div>
            <div class="col-1"></div>
        </div>
    }
}