@model _5051.Models.AttendanceModel

@{
    ViewBag.Title = "Create";
}

<br />
<div class="row justify-content-center">

    <div class="col-1 "></div>
    <div class="col lightTransparentBox">
        <br />
        <div class="FontSizeLarge text-center">
            <span class="FontSizeLarger FontBold FontColorWhite">
                Create Attendance
            </span>
        </div>
        <br />
    </div>
    <div class="col-1"></div>
</div>

<div class="row">
    <br />
    <br />
</div>

<div class="row justify-content-center">
    <div class="col-1 "></div>
    <div class="col lightTransparentBox FontSizeMedium text-center FontColorWhite">
        <br />
        <br />
        @using (Html.BeginForm())
        {
            @Html.AntiForgeryToken()
            @Html.HiddenFor(m => m.Id)
            @Html.HiddenFor(m => m.StudentId)
            @Html.HiddenFor(m => m.IsNew)
            @Html.Hidden("Emotion", 1, new { @id = "EmotionCurrentId" });
            <div class="row">
                <div class="col-5 text-right">
                    @Html.DisplayNameFor(m => m.In)
                </div>
                <div class="col-1">
                    &nbsp;:&nbsp;
                </div>
                <div class="col text-left" id="studentValue">
                    @Html.EditorFor(m => m.In)
                    @Html.ValidationMessageFor(m => m.In)
                </div>
            </div>
            <br />
            <div class="row">
                <div class="col-5 text-right">
                    @Html.DisplayNameFor(m => m.Out)
                </div>
                <div class="col-1">
                    &nbsp;:&nbsp;
                </div>
                <div class="col text-left">
                    @Html.EditorFor(m => m.Out)
                    @Html.ValidationMessageFor(m => m.Out)
                </div>
            </div>
            <br />
            <div class="row">
                <div class="col-5 text-right">
                    @Html.DisplayNameFor(m => m.Emotion)
                </div>
                <div class="col-1">
                    &nbsp;:&nbsp;
                </div>
                <div class="col text-left">
                    <div class="row">
                        @{
                            // list emotion icons
                            foreach (var emotion in Enum.GetValues(typeof(_5051.Models.EmotionStatusEnum)))
                            {
                                var srcData = "/Content/img/Emotion" + emotion + ".png";
                                var emotionId = emotion + "Id";

                                <div id="@emotionId" class="col BoxWithHighlightHover">
                                    <img src="@srcData" class="EmotionSize" onclick="UpdateEmotionCurrent('@emotion')" />
                                </div>
                            }
                        }
                    </div>
                </div>
            </div>
            <br />
            <hr />
            <br />
            <div class="row justify-content-center">
                <div class="col-auto  text-center DispalyBoxWithMargin">
                    @Html.ActionLink("Cancel", "Read", new { id = Model.StudentId }, new { @class = "btn btn1 btn-light DispalyBoxWithMargin" })
                </div>

                <div class="col-1"></div>

                <div class="col-auto text-center DispalyBoxWithMargin">
                    <input disabled id="StudentLoginButton" type="submit" value="Create" class="btn btn1 btn-light DispalyBoxWithMargin">
                </div>
            </div>
        }
        <br />
    </div>
    <div class="col-1"></div>
</div>
<br />
<br />

<script>
    function UpdateEmotionCurrent(UserEmotionId) {
        document.getElementById("VeryHappyId").style.opacity = 1.0;
        document.getElementById("HappyId").style.opacity = 1.0;
        document.getElementById("NeutralId").style.opacity = 1.0;
        document.getElementById("SadId").style.opacity = 1.0;
        document.getElementById("VerySadId").style.opacity = 1.0;

        document.getElementById(UserEmotionId + "Id").style.opacity = 0.3;

        $("#EmotionCurrentId").attr("Value", UserEmotionId);
        $("#StudentLoginButton").attr("Disabled", false);
    }
</script>