@using _5051.Models
@model _5051.Models.AttendanceModel

@{
    ViewBag.Title = "Attendance Details";
}

<br />
<div class="row justify-content-center">

    <div class="col-1 "></div>
    <div class="col lightTransparentBox">
        <br />
        <div class="FontSizeLarge text-center">
            <span class="FontSizeLarger FontBold FontColorWhite">
                Attendance Details
            </span>
        </div>
        <br />
    </div>
    <div class="col-1"></div>
</div>

<div class="row">
    <br />
    <br />
</div>


@{
    if (Model == null)
    {
        <div class="row justify-content-center">

            <div class="col-1 "></div>
            <div class="col lightTransparentBox">
                <br />
                <div class="FontSizeLarge text-center FontColorWhite">
                    No Attendance
                </div>
                <br />
            </div>
            <div class="col-1"></div>
        </div>
    }

    else
    {
        <div class="row justify-content-center">

            <div class="col-1 "></div>
            <div class="col lightTransparentBox FontSizeMedium text-center FontColorWhite">
                <br />
                <br />

                <div class="row">
                    <div class="col-5 text-right" id="avatarLevelName">
                        @Html.DisplayNameFor(m => m.In)
                    </div>
                    <div class="col-1">
                        &nbsp;:&nbsp;
                    </div>
                    <div class="col text-left" id="avatarLevelValue">
                        @Html.DisplayFor(m => m.In)
                    </div>
                </div>
                <br />
                <div class="row">
                    <div class="col-5 text-right" id="tokensName">
                        @Html.DisplayNameFor(m => m.Out)
                    </div>
                    <div class="col-1">
                        &nbsp;:&nbsp;
                    </div>
                    <div class="col text-left" id="tokensValue">
                        @Html.DisplayFor(m => m.Out)
                    </div>
                </div>
                <br />
                <div class="row">
                    <div class="col-5 text-right" id="tokensName">
                        @Html.DisplayNameFor(m => m.Emotion)
                    </div>
                    <div class="col-1">
                        &nbsp;:&nbsp;
                    </div>
                    <div class="col text-left" id="tokensValue">
                        @Model.Emotion
                        &nbsp;:&nbsp;

                        @switch (Model.Emotion)
                        {
                            case EmotionStatusEnum.VeryHappy:
                                <img src="/Content/img/EmotionVeryHappy.png" height="30" />
                                break;
                            case EmotionStatusEnum.Happy:
                                <img src="/Content/img/EmotionHappy.png" height="30" />
                                break;
                            case EmotionStatusEnum.Neutral:
                                <img src="/Content/img/EmotionNeutral.png" height="30" />
                                break;
                            case EmotionStatusEnum.Sad:
                                <img src="/Content/img/EmotionSad.png" height="30" />
                                break;
                            case EmotionStatusEnum.VerySad:
                                <img src="/Content/img/EmotionVerySad.png" height="30" />
                                break;
                        }
                    </div>
                </div>
                <br />

                <hr />

                <br />

                @using (Html.BeginForm())
                {
                    @Html.AntiForgeryToken()
                    // Need to lie, and pass the Attendance Id, up as Emotion URI becaue the Id field name conflicts with the data model. In the controller need to fix it back.
                    @Html.Hidden("EmotionUri", @Model.Id, new { @id = "EmotionUri" })
                    @Html.Hidden("StudentId", @Model.StudentId, new { @id = "StudentId" })

                    <div class="row justify-content-center">
                        <div class="col-auto text-center DispalyBoxWithMargin">
                            @Html.ActionLink("Cancel", "Details", new { id = Model.Id }, new { @class = "btn btn1 btn-light DispalyBoxWithMargin" })
                        </div>

                        <div class="col-1"></div>

                        <div class="col-auto text-center DispalyBoxWithMargin">
                            <input type="submit" value="Delete" class="btn btn1 btn-light DispalyBoxWithMargin">
                        </div>
                    </div>
                }

                <br />

            </div>
            <div class="col-1"></div>
        </div>
    }
}