@model _5051.Models.StudentViewModel
@{
    ViewBag.Title = "Attendance Index";
}
<br />
<div class="row justify-content-center">

    <div class="col-1 "></div>
    <div class="col lightTransparentBox">
        <br />
        <div class="FontSizeLarge text-center">
            <span class="FontSizeLarger FontBold FontWhite">View and edit student attendance</span>
        </div>
        <br />
    </div>
    <div class="col-1"></div>
</div>

<div class="row">
    <br />
    <br />
</div>

<div class="row">
    @{
        if (Model.StudentList == null || !Model.StudentList.Any())
        {
            <div class="col text-center FontSizeLarge FontWhite">
                <br />
                No Students in the System
                <br />
            </div>
        }
        else
        {

            foreach (var item in Model.StudentList)
            {
                <div class="col-sm-6 col-md-2 p-4">

                    <div class="lightTransparentBox p-4 row justify-content-center align-items-center">
                        <div class="col text-center">
                            <a href="~/Attendance/Read/@item.Id">
                                <div class="row justify-content-center">
                                    <div class="AvatarBoxNormal align-self-sm-center" id="AvatarBox">
                                        <div class="AvatarCircle"></div>
                                        <img class="AvatarItemBase AvatarHairBack" id="AvatarHairBack" src="@item.AvatarComposite.AvatarHairBackUri" />
                                        <img class="AvatarItemBase AvatarHead" id="AvatarHead" src="@item.AvatarComposite.AvatarHeadUri" />
                                        <img class="AvatarItemBase AvatarShirt" id="AvatarShirt" src="@item.AvatarComposite.AvatarShirtShortUri" />
                                        <img class="AvatarItemBase AvatarExpression" id="AvatarExpression" src="@item.AvatarComposite.AvatarExpressionUri" />
                                        <img class="AvatarItemBase AvatarCheeks" id="AvatarCheeks" src="@item.AvatarComposite.AvatarCheeksUri" />
                                        <img class="AvatarItemBase AvatarHairFront" id="AvatarHairFront" src="@item.AvatarComposite.AvatarHairFrontUri" />
                                        <img class="AvatarItemBase AvatarAccessory" id="AvatarAccessory" src="@item.AvatarComposite.AvatarAccessoryUri" />
                                    </div>
                                </div>
                            </a>
                            <div>
                                <h4>@item.Name</h4>
                            </div>
                        </div>
                    </div>

                </div>
            }
        }
    }
</div>

<div class="row">
    <br />
    <br />
</div>

